.articles-top{
    padding-top: 25vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.articles-middle{
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.articles-bottom{
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}